body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* banner-container */
header {
    background: rgba(229, 84, 115, 0.10);
    height: 400px;
   width: 100%;


}

.banner {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.banner-container {
    padding-top: 80px;
    padding-left: 200px;
}

.shop-heading {
    font-size: 30px;
    width: 300px;
    font-weight: 800;
}

.shop-description {
    font-size: 15px;
    width: 650px;
}

.flower-image {
    width: 300px;
    height: 380px;
    padding-top: 20px;
    padding-right: 100px;
}

.btn-primary {
    border: 0px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    padding: 7px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.featured-flower{
    text-align: center;
    margin-top: 100px;
}

.featured-flower-head{
    font-size: 30px;
    font-weight: 800;
}

.featured-flower-description{
    font-size: 12px;
    font-weight: 400;
    margin-top: -20px;
}

.featured-flower-container{
    display: flex;
    justify-content: space-around;
    margin-right: 2px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 30px;

}

.ff-img{
    border: 0px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(128, 128, 128, 0.13);
    height: 350px;
    width: 300px;
    margin-top: 30px;
}

.offer {
    margin-top: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    height: 400px;


}

.offer-container {
    text-align: center;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;

}

.offer-title {

    font-size: 20px;
    font-weight: 800;
}

.span-color {
    color: #E55473;
}

.offer-description {
    color: #742839;
    font-weight: 400;
    margin-top: 3px;
}


.offer-image {
    width: 200px;
    height: 150px;
    margin-right: 500px;
    margin-top: 100px;
}

.instagram {
    text-align: center;
    margin-top: 100px;
}

.insta-title {
    font-size: 30px;
    font-weight: 800;
}

.insta-des {
    font-weight: 400;
    margin-top: -10px;
}

.insta-img-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-left: 230px;
    padding-right: 230px;
    align-items: center;
    margin-top: 30px;
}

.insta-img {
    width: 300px;
    height: 300px;
}

.deals{
    background-image: url('../images/Rectangle\ 9.png');
    padding: 100px 130px 100px 130px;
    background-repeat: no-repeat;
    margin: 50px 130px 20px 130px;
    border-radius: 10px;
    margin-top: 130px;
}

.deals-container{
    text-align: center;
}

.deal-title{
    font-size: 30px;
    font-weight: 800;
}

.deals-description{
    font-weight: 400;
    margin-top: -10px;
}

.mail-box{
    border: 2px solid pink;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.footer{
    background-color: black;
    height: ;
    color: white;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    margin-top: 150px;
}

.footer-header{
    font-size: 48px;
    font-weight: 800;
}

.span{
    color: rgb(238, 21, 57);
}

.footer-description{
    font-size: 20px;
    font-weight: 400px;
    margin-top: -30px;
}

.footer-foot{
    font-size: 10px;
    margin-top: 80px;
}